body {
  font-family: sans-serif;
  text-align: center;
}

.responsive-container {
  width: 480px;
}

@media (max-width: 500px) {
  .responsive-container {
    width: 90%;
  }
}

.alfa-font {
  font-family: 'Alfa Slab One', cursive;
}